@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Kanit', sans-serif;
  background-color: black;
}

.font-mulish {
  font-family: 'Mulish', sans-serif;
}

.font-hindSiliguri {
  font-family: 'Hind Siliguri', sans-serif;
}
.masonry {
  columns: 300px;
  column-gap: 1rem;
}

.masonry > div {
  break-inside: avoid;
}
